.containerDiagOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
  /* border: 2px solid black; */
  padding: 10px 15px;
  width: auto;
  height: auto;
 
  /* background-image: url('https://images.pexels.com/photos/210881/pexels-photo-210881.jpeg?auto=compress&cs=tinysrgb&w=1600');
  background-size:cover;
  background-position: center; */

  /* background-color: black;
  background-color: rgba(223, 219, 219, 0.756); */
 
  padding: 25px;
}
.showlistselect > .listAddwrapper > .shopdeets > .mainconcern{

  font-size:smaller;
}
.containerDiagOptions > .showlistselect {
  display:flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;  
 
}

.containerDiagOptions > .diagOptionsWrapper{

  display: flex;
  flex-direction: row;
}
.containerDiagOptions > .diagOptionsWrapper > .deetsandconcern{
  /* display: flex;
  flex-direction: column; */
  /* background-color: black;
    background-color: rgba(223, 219, 219, 0.756); */
  /* opacity: .9; */
  align-items: left;
  font-weight: 600;  
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 420px;
  height: 100px;
  /* border: solid 2px black; */
  padding: 10px;
  margin: 5px;
}
 

.containerDiagOptions > .diagOptionsWrapper > .divcardiagnosis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black;
  background-color: rgba(223, 219, 219, 0.756);
  opacity: .9; */
  width: 320px;
  height:100px;
  /* border: solid 2px black; */
  padding: 10px;
  margin: 5px;
}

.containerDiagOptions > .showlistselect > .listAddwrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  padding: 10px 15px;
  width: 800px;
  height: auto;
  background-color: black;
  background-color: rgba(223, 219, 219, 0.756);
}

.containerDiagOptions > .showlistselect > .listAddwrapper > .shopdeets{
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: large;
  padding: 15px 15px;
  width: 800px;
  height: auto;
  margin: 5px;
}

.containerDiagOptions > .bttns > .link > .backbttn{
  display:inline-block;
  background-color: crimson;
  color: white;
  font-size: small;
  border-radius: 6px;   
  width:100px;
  height: 40px;
  margin: 5px;
}  
.containerDiagOptions > .bttns > .link >.nearbttbn{
  display:inline-block;
  background-color: crimson;
  color: white;
  font-size: small;
  border-radius: 6px;   
  width:300px;
  height: 40px;
  margin: 5px;
} 
.containerDiagOptions > .bttns > .link >.otherbttn{
  display:inline-block;
  background-color: crimson;
  color: white;
  font-size: small;
  border-radius: 6px;   
  width: 250px;
  height: 40px;
  margin: 5px;
} 
