
.App {
  text-align: left; 
}
.App > .navi {
  text-align: right; 
  margin: 15px;
  padding: 10x;
  font-size: x-large;
  color:white;
  /* background-color: 'rgba(52. 52, 52, alpha)'; */
  width:auto;
  height: 50px;
}

.App > .navi > .box{

  text-align: right; 
  margin: 15px;
  padding: 10x;
  color:white;
  /* background-color: black;
  background-color: rgba(223, 219, 219, 0.756);
  width:inherit; */
}
.App > .navi >.box > .homelink{
  text-align: right; 
  margin: 15px;
  padding: 10x;
  font-size: large;
  font-weight: 600;
  color:black;
  text-decoration: none;
}
